* {
    border: 0;
    padding: 0;
    margin: 0;
}
h1 {
  width: 500px;
  padding-left: 200px;
  padding-top: 200px;
  color: #ffffff;
  font-family: Arial;
}
h4 {
  width: 59px;
  height: 25px;
  color: #18e600;
  font-family: Arial;
  font-style: italic;
}
h5 {
  width: 500px;
  padding-left: 200px;
  color: #ffffff;
  font-family: Arial;
}
p {
  width: 312px;
  height: 18px;
  padding-top: 300px;
  padding-left: 250px;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-style: italic;
}
button {
 width: 125px;
 height: 53px;
}
.rect {
  width: 304px;
  height: 49px;
  border: 1px solid #707070;
}
.btn1{
  color: #ffffff;
  background-color: #67ee58;
}
.btn2{
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.12);
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
}
#conteudo-right{
  margin-top: 100px;
  margin-right: 100px;
  padding-top: 75px;
  padding-left: 40px;
  width:400px;
  height:350px;
  float:right;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0);
  border: 1px solid #707070;
  background-color: #ffffff;
}
#conteudo-right2{
  margin-top: 50px;
  margin-right: 100px;
  padding-top: 15px;
  padding-left: 40px;
  width:400px;
  height:500px;
  float:right;
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0);
  border: 1px solid #707070;
  background-color: #ffffff;
}
#conteudo-left{
  width:500px;
  height:400px;
  float:left;
  }
  #b1{
    float: left;
  }
  #b2{
    padding-right: 90px;
    float: right;
  }
